services:
  backend:
    image: ${ECR_REGISTRY}/divyavaani-backend:latest
    volumes:
      - backend_cache:/home/appuser/cache
      - backend_logs:/app/logs
      - backend_artifacts:/app/artifacts
      - backend_nltk:/home/appuser/nltk_data
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  frontend:
    image: ${ECR_REGISTRY}/divyavaani-frontend:latest
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - backend

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data:
  backend_cache:
  backend_logs:
  backend_artifacts:
  backend_nltk:
