version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - backend_cache:/app/cache
      - backend_logs:/app/logs
      - backend_artifacts:/app/artifacts
    ports:
      - "8000:8000"
    env_file:
      - .env

    restart: unless-stopped

volumes:

  backend_cache:
  backend_logs:
  backend_artifacts:
